*{
  margin: 0;
  padding: 0;
}

:root {
  --Cart-Image--: ""
}

.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-top: 3rem;
  position: relative;
  /* background-color: #3A3A3A; */
  background: linear-gradient(white, lightgreen, white);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px black;
  transition: .5s;
  cursor: pointer;

}

.card:hover{
  transform: translateY(-5px);
}

.texts {
  display: flex;
  justify-content: center;
  flex-direction: column;


}

.img-container {
  width: fit-content;
  height: 300px;
  overflow: hidden;

}

.card__img {
  width: 100%;

}

.card__body {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.card__body > *{
  margin-top: 1rem;
  color: black;

}

.card__title::selection {
  background-color: #fff;
  color: black;

}

.card__description {

}

.card__price {
  color: black;
 

}

.card__btn {
  all: unset;
  background-color: lightgreen;
  padding: .5rem;
  text-align: center;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all .5s;
}

