:root {
    --dark-color--: rgb(0, 40, 100);
    --dark--: black;


}

*::selection {
    background-color: transparent;
    color: white;
}

.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}



.Solo {
    opacity: 1.5;
    position: absolute;
    transform: translate(0%, 20%);

}

.Hero>h1 {
    color: transparent;
    background: linear-gradient(var(--dark--), var(--dark-color--));
    background-clip: text;
    font-size: 8.4rem;
    /* text-shadow: 0 0 10px rgb(2, 68, 90); */
    /* filter: drop-shadow(0 1px 100px rgb(254, 255, 255)); */
    cursor: pointer;
    transition: all .5s;
    margin-top: 10%;
}

.Hero>h1:hover {
    filter: none;
    background-clip: text;
    letter-spacing: 1rem;
    text-shadow: 0 0 10px white,
        0 0 10px blue;


}








/* Responsive section */
@media (max-width: 600px) {
    .Hero {
        height: 40vh;
    }

    .Hero>h1 {
        font-size: 4.8rem;
        /* Adjust as needed */
        --dark--: rgb(51, 50, 50);
        --dark-color--: rgb(4, 58, 139);

    }
}